<!doctype html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{block name="title"}Liao{/block} - Liao</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {block name="style"}{/block}
</head>
<body>
<div class="container-md">
    {block name="content"}{/block}
</div>
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/lib/alpine.js"></script>
<script src="/static/lib/message.js"></script>
<script src="/static/lib/js.cookie.min.js"></script>
<script src="/static/js/common.js"></script>
{block name="script-link"}{/block}
</body>
</html>